footer{
    padding: 22px 18px;
    background-color: rgb(155,155,155);
}
footer ul{
    display: flex;
    padding-bottom: 17px;
    font-size: 13px;
}
footer ul li{
    padding-right: 10px;
}
footer ul li a::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #fff;
    margin-left: 10px;
}
footer ul li:last-child a::after{
    display: none;
}
footer p{
    color: #333;
}
footer p a{
    display: inline-block;
    border: 1px solid #555;
    font-size: 12px;
    padding: 2px;
    margin-left: 14px;
}
@media screen and (max-width:375px){
    footer ul {
        display: block;
    }

    footer ul li{
        padding-bottom: 15px;
    }
    footer ul li a::after{
        display: none;
    }
}