section h2{
    font-size: 16px;
    padding: 18px;
    border-bottom: 1px solid #f2f2f2;
    margin: 0 14px;
}
section > div{
    padding-top: 34px;
}
section > div h3{
    font-size: 20px;
    padding-bottom: 16px;
    padding-left: 16px;
}
section > div p{
    line-height: 1.5;
  padding: 0 16px 16px 16px;
}
.con1 .slide{
    height: 146px;
    overflow: hidden;
    position: relative;
    background-color: #000;
}
.con1 .slide ul{
    display: flex;
    width: 400%;

    position: relative;
    left: 0;
}
.con1 .slide ul li{
    position: relative;
} 
.con1 .slide ul li p{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
} 
.con1 .slide ul li p.mess{
    top: 20px;
} 
.con1 .slide ul li p.mess span{
    font-size: 3em;
    display: block;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
} 
.con1 .slide ul li p.pages{
    top: 100px;
    text-align: right;
    font-size: 12px;
} 
.con1 .slide ul li p.pages span{
   font-size: 16px;
} 
.con1 .slide .btns{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #fff;

    display: flex;
    justify-content: space-between;
}
.con1 .slide .btns .btn_prev{
    background-position: -78px -113px;
    width: 25px;
    height: 48px;
}
.con1 .slide .btns .btn_next{
    background-position: -53px -113px;
    width: 25px;
    height: 48px;
}
section h3.center{
    text-align: center;
    padding-top: 24px;
}
section h3.center::after{
    content: "";
    display: block;
    width: 26px;
    height: 2px;
    background-color: #4d4d4d;
    margin: 10px auto;
}
.con2{
    padding-left: 20px;
    
}
.con2 .mySwiper img{
    width: 100%;
}
.con2 .mySwiper .tit{
    text-align: center;
    padding-top: 26px;
    font-weight: bold;
    font-size: 15px;
}
.con2 .mySwiper .txt{
   text-align: center;
   letter-spacing: -1px;
   padding: 0 20px;
   padding-bottom: 40px;
}
.con2 .mySwiper .swiper-pagination{
    /* background: #000; */
}
.con3{
    margin-top: 24px;
    background-color: #fafafa;
    text-align: center;
}
.con3 .symbol{
    border-bottom: 1px solid #efefef;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.con3 .tit{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
.con4{
    background-color: #f0f0f0;
    padding-bottom: 16px;
    padding-top: 20px;
}
.con4 ul{
    display: flex;
    justify-content: center;
}
.con4 ul li{
    padding: 0 16px;
    position: relative;
}
.con4 ul li::after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    position: absolute;
    top: 4px;
    left: 0;
}
.con4 ul li:first-child::after{
    display: none;
}
.con4 ul li a{
    width: 15px;
    height: 23px;
    background-position-y: -138px;
}
.con4 ul li a.fa{}
.con4 ul li a.bl{
    background-position-x: -15px;
}
.con4 ul li a.na{
    background-position-x: -116px;
}
.con4 ul li a.yo{
    width: 22px;
    background-position-x: -30px;
}